@import url('./css_reset.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  position:relative;
  background-image: url('../public/assets/images/1548.jpg');
  background-size: cover;
  background-position: center;
  color:#fff;
}

.footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #061f35;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  color: #fff;
}
